body{
    background-color: black;
    color: white;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

select, button {
    margin-right: 10px;
}

button {
    cursor: pointer;
}

#result {
    text-align: center;
    font-size: 18px;
    margin-top: -340px;
}
